#header{
    background-color: var(--pink-color);
    width: 100%;
    height: 100px;
}

.content{

}

#header:hover{
    background-color: var(--white-color);
}

/* Header */
#navigation{
    width: 1280px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.logos{
    display: flex;
    justify-items: center;
}

.logo1{
    width: 244px;
    height: 24px;
    border-right: solid 3px var(--black-color);
    padding-right: 12px;
}


.logo2{
    width: auto;
    height: 24px;
    padding-left: 20px;
}

.btn{
    height: 48px;
    border-radius: 100px;
    border: none;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1.6rem;
    padding: 12px 24px;
    text-align: center;
}

.btn:hover{
    background-color: #397deb;
}

/* Slider */
#slider{
    background-color: var(--pink-color);
    height: auto;
}

.slider-content{
    width: 1208px;
    height: auto;
    margin: auto;
    display: flex;
}

.slider-box-left{
}

.slider__heading{
    font-size: 10rem;
    font-weight: 400;
    margin: 50px 0px 20px 0;
}

.slider__text{
    font-size: 20px;
    font-weight: 300;
    line-height: 140%;
    padding-bottom: 20px;
}

.slider__audio{
    display: flex;
    align-items: center;
    padding-right: 12px;
    justify-content: space-between;
}

.slider__icon{
    font-size: 40px;
    padding-left: 8px;
}

.slider__img-slider-control{
}

.slider__audio-brand{

}

.slider-img{
}

.slider-img__img{
    width: 100%;
    height: 100%;
}


/* Contact section */
.contact-section{
    display: flex;
    width: 1208px;
    margin: auto;
    padding: 100px 0 100px 0;
}

.subcribe{
    display: flex;
    align-items: center;
}

.subcribe__box{

}

.subcribe__text{
    width: 500px;
    font-size: 2rem;
    line-height: 1.5;
}

.subribe__form{
}

.subcribe__form-input{
    font-size: 1.6rem;
    padding: 10px 20px;
    border: solid 1px #CBD5E1;
    color: #CBD5E1;
    border-radius: 8px 0 0 8px;
}

.subcribe__form-btn{
    font-size: 1.6rem;
    padding: 12px 24px;
    border-radius: 0 8px 8px 0;
    border: none;
    background-color: var(--primary-color);
    color: var(--white-color);
    left: -8px;
    margin-left: -4px;
}

.subcribe_image{
    display: flex;
    align-items: center;
}

.contact-section__img{
    width: 400px;
    border-radius: 8px;
    margin: auto;
}


/* Featured section */
.featured{
}

.featured-box{
    width: 1208px;
    display: flex;
    margin: auto;
    margin-bottom: 100px;
}

.featured__image{
}

.featured__image-img{
    width: 620px;
    height: auto;
    border-radius: 16px;
}

.boxtext{
    width: 510px;
    margin: auto;
    margin-left: 100px;
}

.subtitle{
    font-size: 12px;
    color: rgb(214, 80, 142);
    font-weight: 600;
    margin-bottom: 20px;
}

.title{
    font-size: 4rem;
    color: var(--black-color);
    font-weight: 600;
    /* padding-bottom: 16px; */
}

.sub-info{
    display: flex;
}

.sub-info__text{
    color: rgb(148, 163, 184);
    font-weight: 500;
    font-size: 12px;
    padding-right: 8px;
}

.sub-info__text:first-child{
    border-right: solid 2px rgb(148, 163, 184);
}

.sub-info__text:nth-child(2){
    border-right: solid 2px rgb(148, 163, 184);
    padding-left: 8px;
}

.sub-info__text:last-child{
    padding-left: 8px;
}

.text{
    font-size: 1.6rem;
    color: var(--black-color);
    line-height: 1.5;
    font-weight: 400;
    /* padding-bottom: 24px; */
}

.boxtex__divider{
    width: 1px;
    height: 24px;
}

.btn-with-icon{
    width: 160px;
    height: 56px;
    border-radius: 100px;
    border: none;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1.6rem;
    padding: 16px 24px;
    /* margin-top: 24px; */
}

.btn-with-icon__icon{
    padding-right: 12px;
}


/* Course section */
.course-section{
}

.course-section-box{
    width: 1208px;
    margin: auto;
}

.course__row{
    border: solid 2px var(--black-color);
    border-radius: 16px;
    margin-bottom: 24px;
}

.course__row-box{
    display: flex;
    padding: 32px;
}

.course__row-left{
}

.course__row-left-img{
    width: 225px;
    height: 225px;
    border-radius: 16px;
    margin-right: 50px
}

.course__row-center{
    padding: ;
}

.h3{
    font-size: 3.2rem;
    color: var(--black-color);
    font-weight: 600;
    /* padding-bottom: 16px; */
}

.action{
    display: flex;
    align-items: center;
    margin: auto;
    padding-bottom: 4px;
}


.action__text{
    font-size: 1.8rem;
    color: rgb(100, 116, 139);
    font-weight: 400;
    line-height: 1;
    margin: 0 12px 0 0;
}

.action__icon{
    font-size: 1.6rem;
    color: rgb(100, 116, 139);
}

.course__row-right{
    padding-left: 32px;
}

.action-c__icon{
    font-size: 2rem;
    color: var(--black-color);
    padding-right: 12px;
}

.action-c__text{
    font-size: 2rem;
    font-weight: 400;
    line-height: 0;
}

.course__divider{
    width: 1px;
    height: 48px;
}

.list-action{
    margin-top: 32px;
}

.btn-center{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}


/* Introduce section */
.introduce{
}

.introduce-box{
    width: 1208px;
    margin: auto;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.boxtext2{
    width: 510px;
}

.text20px{
    font-size: 20px;
    line-height: 1.5;
}

.introduce__image{
    display: flex;
    justify-content: center;
}

.introduce__image-img{
    width: 510px;
    height: auto;
    border-radius: 8px;
}

.introduce-link{
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding-right: 12px;
}

.introduce__icon{
    font-size: 2rem;
    padding: 0 12px;
}

.introduce__icon:hover{
    color: var(--primary-color);
}